<div ng-include="'views/common/navigation.html'">
</div>
<div id="page-wrapper" class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-t-lg">
                    <h1>
                    Events 
                </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Add Event</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="get" id="newEventForm" class="form-horizontal" ng-submit="saveEvent()">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 col-lg-2 control-label">Event Title</label>
                                    <div class="col-md-10 col-lg-10">
                                        <input type="text" ng-model="newEvent.name" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 col-lg-2 control-label">Date</label>
                                    <div class="col-md-4 col-lg-4">
                                        <p class="input-group">
                                            <input type="date" class="form-control" datepicker-popup="{{format}}" ng-model="newEvent.date" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" / required>
                                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                                        </p>
                                    </div>
                                    <label class="col-md-2 col-lg-2 control-label">Time</label>
                                    <div class="col-md-4 col-lg-4">
                                        <timepicker ng-model="newEvent.time" ng-change="changed()" hour-step="1" minute-step="5" show-meridian="ismeridian"></timepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 col-lg-2 control-label">Image</label>
                                    <div class="col-md-10 col-lg-10">
                                        <input type='file' id="fileMobile" ng-change="onChange()" ng-model='file' ng-hide="file" accept="image/*" base-sixty-four-input required>
                                        <div ng-hide="!file" id='logo' style='background:url(data:image/png;base64,{{file.base64}}); width:160px; height:90px;background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;'></div>
                                        <!-- <img img-fix-orientation="imageUrl" ng-src="data:image/png;base64,{{file.base64}}"> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12 col-lg-12">
                                            <button type="submit" class="btn btn-success pull-right" style="margin-right: 40px" type="submit" ng-disabled="newEventForm.$invalid">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row animated fadeInRight">
            <div class="col-lg-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Upcoming Events | <a ng-href="https://upcomingevents.firebaseapp.com/#/display/{{sdkInfo}}" target="_blank">View Your Board</a> <i class="fa fa-external-link"></i></h5>
                    </div>
                    <div class="ibox-content inspinia-timeline">
                        <div class="text-center" ng-show="displayLoadingIndicator"><img src="img/ripple.svg" alt="Loasing slides"></div>
                        <small ng-show="events.length == 0 && !displayLoadingIndicator">No upcoming events.</small>
                        <div class="timeline-item" ng-repeat="event in events | orderBy:'datetime':false" data-ng-init="initEvents()">
                            <div class="row" style="margin-left: 0px">
                                <div class="col-xs-6 content no-top-border">
                                    <h2>{{ event.name }}</h2>
                                    <medium style="text-navy">{{ event.datetime | date:"fullDate"}}</medium>
                                    <br/>
                                    <medium class="text-navy">{{ event.datetime | date:"hh:mm a"}}</medium>
                                </div>
                                <div class="col-xs-3 date pull-right">
                                    <a ng-click="remove(event)"><i class="fa fa-times fa-3x deletex"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well-sm" style="color: #a7b1c2"><small>Something broke? Try <a href="#/">clicking here</a> or <a href="#/events">here</a></small></div>
    </div>
