<! -- ********** HEADER ********** -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="/#/">EventsBoard<small style="display: inline; font-size: 11px; font-weight: light; color: lightgrey">beta</small></a>

        </div>
        <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/#/">Home</a></li>
            <li><a href="/#/register">Sign Up</a></li>
            <li><a href="/#/login">Log In</a></li>
          </ul>
       
        </div><!--/.nav-collapse -->

      </div>
    </nav>
<div id="h" style="height: 100%; padding-top: 50px">
<!--     <div class="container" style="height: 100%">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/">EventsBoard<small style="display: inline; font-size: 11px; font-weight: light; color: lightgrey">beta</small></a>
        </div>
        <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#/register">Sign Up</a></li>
                <li><a href="/#/login">Log In</a></li>
            </ul>
        </div> -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1 mt">
                <div class="col-md-11 col-md-offset-1 mt">
                    <h1 class="mb landingH hidden-xs">Showcase upcoming events.</h1>
                    <h1 class="mb landingH visible-xs" style="font-size: 45px; margin-top: 25%">Showcase upcoming events.</h1>
                </div>
                <a href="#/register">
                    <button class="btn btn-lg btn-success btn-register">Sign Up</button>
                </a>
            </div>

            <div class="col-md-12 mt">
                <img src="../img/sf.png" class="img-responsive aligncenter" alt="" data-effect="slide-bottom">
            </div>
        </div>
    </div>
    <! --/container -->
</div>
<! --/h -->
<! -- ********** FIRST ********** -->
<div id="w">
    <div class="row nopadding">
        <div class="col-md-5 col-md-offset-1 mt">
            <h1 class="landingH" class="landingH">Increase Attendance</h1>
            <p class="landingP" class="landingP">Encourage your audience to attend your events with a visually engaging reminder of what's coming up.</p>
        </div>
        <div class="col-md-6 pull-right hidden-xs">
            <div class="myVideo alignright" data-effect="slide-right">
                <video loop autoplay>
                    <source src="http://embed.wistia.com/deliveries/9e279920a15214a2db3d1b883c865aed10beb948/file1.mp4" type="video/mp4"> Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-md-6 pull-right visible-xs">
            <img src="../img/hikeFramed.png" class="img-responsive alignright" alt="" data-effect="slide-right">
        </div>
    </div>
</div>
<! --/row -->
</div>
<! --/container -->
<! -- ********** BLUE SECTION - PICTON ********** -->
<div id="picton">
    <div class="row nopadding">
        <div class="col-md-6 pull-left">
            <img src="../img/shot02.png" class="img-responsive alignleft" alt="" data-effect="slide-left">
        </div>
        <div class="col-md-5 mt">
            <h1 class="landingH">Easily Add and Remove Events</h1>
            <p class="landingP">Seamless events management dashboard allows you to add and remove events from your browser.</p>
            <p class="landingP">Our mobile-optimized app even lets you add events on the go!</p>
        </div>
    </div>
    <! --row -->
</div>
<! --/Picton -->
<! -- ********** BLUE SECTION - CURIOUS ********** -->
<div id="curious">
    <div class="row nopadding">
        <div class="col-md-5 col-md-offset-1 mt">
            <h1 class="landingH">Full-screen Background</h1>
            <p class="landingP">Entice your audiences with a full-screen background image.</p>
            <p class="landingP">Landscape and Portrait are both supported!</p>
        </div>
        <div class="col-md-6 pull-right">
            <img src="../img/teamHike.png" class="img-responsive alignright" alt="" data-effect="slide-right">
        </div>
    </div>
    <! --/row -->
</div>
<! --/curious -->
<! -- ********** BLUE SECTION - MALIBU ********** -->
<! --/Malibu -->
<! -- ********** BLUE SECTION - JELLY ********** -->
<! --/Jelly -->
<! -- ********** FOOTER ********** -->
<div id="f">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 centered">
                <h4 class="mb">Sign Up Now. It's Totally Free.</h4>
                <div class="middle-box text-center loginscreen" style="padding-top: 40px" data-effect="slide-bottom">
                    <div>
                        <form class="m-t" role="form" ng-submit="register(user)">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name" ng-model="user.name" required="">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" ng-model="user.email" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required="">
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-theme block full-width m-b">Sign Up</button>
                            <p class="text-white text-center"><small style="color: white">Already have an account?</small></p>
                            <a href="/#/login" class="btn btn-white btn-theme btn-block">Log In</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <! --/row -->
    </div>
    <! --/container -->
</div>
<! --/F -->
<! -- ********** CREDITS ********** -->
<div id="c">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 centered">
                <p>Copyright 2015 | events.sign.buzz</p>
            </div>
        </div>
    </div>
    <! --/container -->
</div>
<!--     Theme inspired by "Sumo" @ www.blacktie.co -->
